<li
  Tag="@RootElementTag"
  class="TaskCard @SpaceSeparatedAdditionalCSS_Classes"
  tabindex="0"
>

  <span
    class="TaskCard-Checkbox"
    role="checkbox"
    tabindex="0"
    aria-checked="@TargetTask.IsComplete"
  >

    @if (TargetTask.IsComplete)
    {
      <Checkbox__Checked SpaceSeparatedAdditionalCSS_Classes="TaskCard-Checkbox-Icon" />
    }
    else
    {
      <Checkbox__Unchecked SpaceSeparatedAdditionalCSS_Classes="TaskCard-Checkbox-Icon" />
    }

  </span>

  <div class="TaskCard-Title"> @TargetTask.Title </div>

  <div class="TaskCard-BadgesFlow">
    <Badge
      value="テスト"
      decoration="@FrontEndFramework.Components.Badge.Badge.StandardDecorativeVariations.veryCatchyBright"
    />
  </div>
  
  @if (!String.IsNullOrEmpty(TargetTask.Description))
  {
    <div class="TaskCard-Description"> @TargetTask.Description </div>
  }

</li>
