mixin TaskCard(properties)

  -

    const {
      task,
      rootElementTag = "div",
      disabled = false
    } = properties;

    if (rootElementTag === "a") {
      throw new Error(
        "The \"a\" could not be the root element of \"TaskCard\" component because it has the internal links while " +
          "the nested links are not allowed by HTML5 standard."
      )
    }

    
  #{ rootElementTag }.TaskCard&attributes(attributes)(
    tabindex="0"
    class=disabled ? "TaskCard__DisabledState": null
  )

    span.TaskCard-Checkbox(
      role="checkbox"
      aria-checked= String(task.isComplete)
      tabindex="0"
    )
    
      if task.isComplete
        
        +Checkbox__Checked--YDF_Icon.TaskCard-Checkbox-Icon
        
      else

        +Checkbox__Unchecked--YDF_Icon.TaskCard-Checkbox-Icon

    .TaskCard-Title= task.title

    case getRandomInteger({ minimalValue: 1, maximalValue: 2 })
      
      when 1

        .TaskCard-BadgesFlow
          
          +Badge--YDF({
            key: "Date and Time",
            value: "12 Sep 12:30",
            decoration: Badge__YDF.DecorativeVariations.veryCatchyBright
          }): +Calendar__Time--YDF_Icon.Badge--YDF-SVG_Icon
          
      when 2

        .TaskCard-BadgesFlow

          +Badge--YDF({
            key: "Date",
            value: "13 Sep",
            decoration: Badge__YDF.DecorativeVariations.catchyBright
          }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon
          
      //-
      
        when 3
  
          .TaskCard-BadgesFlow
        
            +Badge--YDF({
              key: "場所",
              value: "品川駅",
              decoration: Badge__YDF.DecorativeVariations.neutralPastel
            }): +Location__BottomCircle--YDF_Icon.Badge--YDF-SVG_Icon
        
            
        when 4
  
          .TaskCard-BadgesFlow
          
            +Badge--YDF({
              key: "定期繰り返し",
              value: "週に1回",
              decoration: Badge__YDF.DecorativeVariations.modestlyCatchyPastel
            }): +Calendar__Repeat--YDF_Icon.Badge--YDF-SVG_Icon
            
        when 5
  
          .TaskCard-BadgesFlow
          
            +Badge--YDF({
              key: "計画",
              value: "〇〇アプリケーション開発",
              decoration: Badge__YDF.DecorativeVariations.achromaticPastel
            }): +Folder__Stationery--YDF_Icon.Badge--YDF-SVG_Icon
            
            
        when 6
  
          .TaskCard-BadgesFlow
            
            +Badge--YDF({
              value: "本日",
              decoration: Badge__YDF.DecorativeVariations.veryCatchyPastel
            }): +Calendar__Date--YDF_Icon.Badge--YDF-SVG_Icon
          
          
        when 7
  
          .TaskCard-BadgesFlow
            
            +Badge--YDF({
              key: "他人に依存",
              value: "田中博",
              decoration: Badge__YDF.DecorativeVariations.modestlyCatchyPastel
            }): +Person__Clock__Rectangled__Filled--YDF_Icon.Badge--YDF-SVG_Icon
        

    if task.description

      p.TaskCard-Description= task.description


include LoadingPlaceholder/TaskCardLoadingPlaceholder.pug
